:root {
  --c-text: var(--c-white);
  --c-text-light: #90a4b7;

  --c-bg: #1c1c22;
  --c-brand: #fbc571;
  --c-brand-light: #f4deb5;
}

.custom-block.info {
  color: #1c1c22;
}

.custom-block.warning {
  color: #fbdf71;
}
